# Join Statements

## Introduction

In this lab, you'll practice your knowledge on Join statements.

## Objectives

You will be able to:
- Write queries that make use of various types of Joins
- Join tables using foreign keys

## CRM Schema

In almost all cases, rather then just working with a single table we will typically need data from multiple tables. 
Doing this requires the use of **joins ** using shared columns from the two tables. 

In this lab, we'll use the same Customer Relationship Management (CRM) database we used in our lecture before!
<img src='Database-Schema.png' width=550>

## Connecting to the Database
Import the necessary packages and connect to the database **data.sqlite**.

In [1]:
#Your code here
import sqlite3
import pandas as pd
conn = sqlite3.connect('data.sqlite', detect_types=sqlite3.PARSE_COLNAMES)
cur = conn.cursor()

## Display the names of all the employees in Boston.

In [2]:
#Your code here
cur.execute('''SELECT firstName, lastName FROM employees;''').fetchall()

[('Diane', 'Murphy'),
 ('Mary', 'Patterson'),
 ('Jeff', 'Firrelli'),
 ('William', 'Patterson'),
 ('Gerard', 'Bondur'),
 ('Anthony', 'Bow'),
 ('Leslie', 'Jennings'),
 ('Leslie', 'Thompson'),
 ('Julie', 'Firrelli'),
 ('Steve', 'Patterson'),
 ('Foon Yue', 'Tseng'),
 ('George', 'Vanauf'),
 ('Loui', 'Bondur'),
 ('Gerard', 'Hernandez'),
 ('Pamela', 'Castillo'),
 ('Larry', 'Bott'),
 ('Barry', 'Jones'),
 ('Andy', 'Fixter'),
 ('Peter', 'Marsh'),
 ('Tom', 'King'),
 ('Mami', 'Nishi'),
 ('Yoshimi', 'Kato'),
 ('Martin', 'Gerard')]

## Do any offices have no employees?

In [3]:
#Your code here
cur.execute('''SELECT * FROM offices
                LEFT JOIN employees 
                USING (officeCode);
                ''')
df = pd.DataFrame(cur.fetchall()) #Take results and create dataframe
df. columns = [i[0] for i in cur.description]
print(len(df))
print(len(df[df.employeeNumber.isnull()]))
df[df.employeeNumber.isnull()].head()

23
0

Empty DataFrame
Columns: [officeCode, city, phone, addressLine1, addressLine2, state, country, postalCode, territory, employeeNumber, lastName, firstName, extension, email, reportsTo, jobTitle]
Index: []

No offices are without employees.

## Write 3 Questions of your own and answer them

In [4]:
# Answers will vary

In [5]:
# How many customers does each employee have?
cur.execute('''SELECT * FROM employees e
               LEFT JOIN customers c
               ON c.salesRepEmployeeNumber = e.employeeNumber;
                ''')
cust_emp_df = pd.DataFrame(cur.fetchall())
cust_emp_df.columns = [i[0] for i in cur.description]
cust_emp_df.groupby('employeeNumber').customerNumber.count()

employeeNumber
1002     0
1056     0
1076     0
1088     0
1102     0
1143     0
1165     6
1166     6
1188     6
1216     6
1286     7
1323     8
1337     6
1370     7
1401    10
1501     8
1504     9
1611     5
1612     5
1619     0
1621     5
1625     0
1702     6
Name: customerNumber, dtype: int64

In [6]:
# What is the total for each order?
cur.execute('''SELECT * FROM orderdetails
                LEFT JOIN orders USING (orderNumber)
                LEFT JOIN customers c USING (customerNumber)
                LEFT JOIN employees e
                ON c.salesRepEmployeeNumber = e.employeeNumber
                ;''')
orders_df = pd.DataFrame(cur.fetchall())
orders_df.columns = [i[0] for i in cur.description]
orders_df.quantityOrdered = orders_df.quantityOrdered.astype(int)
orders_df.priceEach = orders_df.priceEach.astype(float)
orders_df['Total'] = orders_df.quantityOrdered * orders_df.priceEach
order_totals = orders_df.groupby('orderNumber').sum()
order_totals

             quantityOrdered  priceEach     Total
orderNumber
10100                    151     301.84  10223.83
10101                    142     352.00  10549.01
10102                     80     138.68   5494.78
10103                    541    1520.37  50218.95
10104                    443    1251.89  40206.20
10105                    545    1479.71  53959.21
10106                    675    1427.28  52151.81
10107                    229     793.21  22292.62
10108                    561    1432.86  51001.22
10109                    212     700.89  25833.14
10110                    570    1338.47  48425.69
10111                    217     460.16  16537.85
10112                     52     282.26   7674.94
10113                    143     325.23  11044.30
10114                    351     909.72  33383.14
10115                    210     515.99  21665.98
10116                     27      60.28   1627.56
10117                    402    1307.47  44380.15
10118                     36      86.15   3101.40
10119                    442    1081.44  35826.33
10120                    525    1322.67  45864.03
10121                    185     439.17  16700.47
10122                    545    1598.27  50824.66
10123                    156     396.08  14571.44
10124                    448     976.51  32641.98
10125                     66     227.76   7565.08
10126                    617    1623.71  57131.92
10127                    540    1601.39  58841.35
10128                    157     350.86  13884.99
10129                    349     754.23  29429.14
...                      ...        ...       ...
10396                    287     778.38  27695.54
10397                    172     351.72  12432.32
10398                    629    1355.03  46656.94
10399                    319     787.39  30253.75
10400                    356     741.11  31755.34
10401                    597     886.70  43525.04
10402                    159     238.79  12190.85
10403                    371     793.27  37258.94
10404                    447     771.80  41426.81
10405                    336     500.04  35157.75
10406                    174     375.54  21638.62
10407                    571    1074.29  52229.55
10408                     15      41.03    615.45
10409                     67     132.13   2326.18
10410                    424     743.35  36442.34
10411                    285     946.47  29070.38
10412                    455    1034.15  46895.48
10413                    229     763.06  28500.78
10414                    609    1163.89  50806.85
10415                    164     324.13  10945.26
10416                    460    1084.48  35362.26
10417                    259     671.33  28574.90
10418                    299     727.23  23627.44
10419                    509    1471.56  52420.07
10420                    532    1014.01  42251.51
10421                     75     211.86   7639.10
10422                     76     138.88   5849.44
10423                    111     403.05   8597.73
10424                    269     612.75  29310.30
10425                    427    1231.98  41623.44

[326 rows x 3 columns]

In [7]:
# What is the average amount per sale?
print('Mean Sales per Order:', round(order_totals.Total.mean(), 2))
print('Median Sales per Order:', round(order_totals.Total.median(), 2))
print('Standard Deviation of Sales:', round(order_totals.Total.std(), 2))
order_totals.Total.describe()

Mean Sales per Order: 29460.71
Median Sales per Order: 30273.76
Standard Deviation of Sales: 15826.49

count      326.000000
mean     29460.707393
std      15826.485744
min        615.450000
25%      16764.732500
50%      30273.760000
75%      41902.575000
max      67392.850000
Name: Total, dtype: float64

## Level Up: Display the names of each product each employee has sold.

In [8]:
# Your code here
# Link employees to products sold
cur.execute('''SELECT * FROM products
                LEFT JOIN orderDetails USING (productCode)
                LEFT JOIN orders USING (orderNumber)
                LEFT JOIN customers c USING (customerNumber)
                LEFT JOIN employees e
                ON c.salesRepEmployeeNumber = e.employeeNumber;
                ''')

# Take results and create dataframe
df = pd.DataFrame(cur.fetchall()) 
df. columns = [i[0] for i in cur.description]

# Create employee list from employee first & last name, and employee number
df['employee'] = df.firstName + " " + df.lastName + " (" + df.employeeNumber + ")"
employees = list(df.employee.unique())

# Set employee list as keys in dictionary with values as empty list
employeeProducts = {}
for employee in employees:
    employeeProducts[employee] = []
employeeProducts

# Assign each product sold to employees who sold it
for index, row in df.iterrows():
    employeeProducts[row['employee']].append(row['productName'])

# Turn list of products sold per employee into unique, sorted list
for employee in employees:
    employeeProducts[employee] = sorted(list(set(employeeProducts[employee])))

employeeProducts

{'George Vanauf (1323)': ['18th Century Vintage Horse Carriage',
  '18th century schooner',
  '1900s Vintage Bi-Plane',
  '1900s Vintage Tri-Plane',
  '1903 Ford Model A',
  '1904 Buick Runabout',
  '1912 Ford Model T Delivery Wagon',
  '1913 Ford Model T Speedster',
  '1917 Grand Touring Sedan',
  '1917 Maxwell Touring Car',
  '1926 Ford Fire Engine',
  '1928 British Royal Navy Airplane',
  '1928 Ford Phaeton Deluxe',
  '1930 Buick Marquette Phaeton',
  '1934 Ford V8 Coupe',
  '1936 Chrysler Airflow',
  '1936 Harley Davidson El Knucklehead',
  '1937 Horch 930V Limousine',
  '1939 Cadillac Limousine',
  '1940 Ford Delivery Sedan',
  '1940 Ford Pickup Truck',
  '1940s Ford truck',
  '1941 Chevrolet Special Deluxe Cabriolet',
  '1948 Porsche 356-A Roadster',
  '1948 Porsche Type 356 Roadster',
  '1949 Jaguar XK 120',
  "1950's Chicago Surface Lines Streetcar",
  '1952 Alpine Renault 1300',
  '1954 Greyhound Scenicruiser',
  '1956 Porsche 356A Coupe',
  '1957 Chevy Pickup',
  '1957 Corvette Convertible',
  '1957 Vespa GS150',
  '1958 Chevy Corvette Limited Edition',
  '1958 Setra Bus',
  '1960 BSA Gold Star DBD34',
  '1961 Chevrolet Impala',
  '1962 City of Detroit Streetcar',
  '1962 LanciaA Delta 16V',
  '1962 Volkswagen Microbus',
  '1964 Mercedes Tour Bus',
  '1965 Aston Martin DB5',
  '1966 Shelby Cobra 427 S/C',
  '1968 Dodge Charger',
  '1968 Ford Mustang',
  '1969 Chevrolet Camaro Z28',
  '1969 Corvair Monza',
  '1969 Dodge Charger',
  '1969 Dodge Super Bee',
  '1969 Ford Falcon',
  '1969 Harley Davidson Ultimate Chopper',
  '1970 Chevy Chevelle SS 454',
  '1970 Dodge Coronet',
  '1970 Plymouth Hemi Cuda',
  '1970 Triumph Spitfire',
  '1971 Alpine Renault 1600s',
  '1972 Alfa Romeo GTA',
  '1974 Ducati 350 Mk3 Desmo',
  '1980s Black Hawk Helicopter',
  '1980’s GM Manhattan Express',
  '1982 Camaro Z28',
  '1982 Ducati 996 R',
  '1982 Lamborghini Diablo',
  '1992 Ferrari 360 Spider red',
  '1992 Porsche Cayenne Turbo Silver',
  '1993 Mazda RX-7',
  '1995 Honda Civic',
  '1996 Moto Guzzi 1100i',
  '1996 Peterbilt 379 Stake Bed with Outrigger',
  '1997 BMW F650 ST',
  '1997 BMW R 1100 S',
  '1998 Chrysler Plymouth Prowler',
  '1999 Indy 500 Monte Carlo SS',
  '1999 Yamaha Speed Boat',
  '2001 Ferrari Enzo',
  '2002 Chevy Corvette',
  '2002 Suzuki XREO',
  '2002 Yamaha YZR M1',
  '2003 Harley-Davidson Eagle Drag Bike',
  'ATA: B757-300',
  'America West Airlines B757-200',
  'American Airlines: B767-300',
  'American Airlines: MD-11S',
  'Boeing X-32A JSF',
  'Collectable Wooden Train',
  'Corsair F4U ( Bird Cage)',
  'Diamond T620 Semi-Skirted Tanker',
  'F/A 18 Hornet 1/72',
  'HMS Bounty',
  'P-51-D Mustang',
  'Pont Yacht',
  'The Mayflower',
  'The Queen Mary',
  'The Schooner Bluenose',
  'The Titanic',
  'The USS Constitution Ship'],
 'Loui Bondur (1337)': ['18th century schooner',
  '1900s Vintage Bi-Plane',
  '1900s Vintage Tri-Plane',
  '1903 Ford Model A',
  '1904 Buick Runabout',
  '1911 Ford Town Car',
  '1912 Ford Model T Delivery Wagon',
  '1917 Grand Touring Sedan',
  '1917 Maxwell Touring Car',
  '1926 Ford Fire Engine',
  '1928 British Royal Navy Airplane',
  '1928 Ford Phaeton Deluxe',
  '1928 Mercedes-Benz SSK',
  '1930 Buick Marquette Phaeton',
  '1932 Alfa Romeo 8C2300 Spider Sport',
  '1932 Model A Ford J-Coupe',
  '1936 Harley Davidson El Knucklehead',
  '1936 Mercedes Benz 500k Roadster',
  '1936 Mercedes-Benz 500K Special Roadster',
  '1937 Horch 930V Limousine',
  '1937 Lincoln Berline',
  '1938 Cadillac V-16 Presidential Limousine',
  '1939 Cadillac Limousine',
  '1939 Chevrolet Deluxe Coupe',
  '1940 Ford Pickup Truck',
  '1940s Ford truck',
  '1941 Chevrolet Special Deluxe Cabriolet',
  '1948 Porsche 356-A Roadster',
  '1948 Porsche Type 356 Roadster',
  '1949 Jaguar XK 120',
  "1950's Chicago Surface Lines Streetcar",
  '1952 Alpine Renault 1300',
  '1952 Citroen-15CV',
  '1954 Greyhound Scenicruiser',
  '1956 Porsche 356A Coupe',
  '1957 Chevy Pickup',
  '1957 Corvette Convertible',
  '1957 Ford Thunderbird',
  '1957 Vespa GS150',
  '1958 Chevy Corvette Limited Edition',
  '1958 Setra Bus',
  '1960 BSA Gold Star DBD34',
  '1961 Chevrolet Impala',
  '1962 City of Detroit Streetcar',
  '1962 LanciaA Delta 16V',
  '1962 Volkswagen Microbus',
  '1964 Mercedes Tour Bus',
  '1965 Aston Martin DB5',
  '1966 Shelby Cobra 427 S/C',
  '1968 Dodge Charger',
  '1968 Ford Mustang',
  '1969 Chevrolet Camaro Z28',
  '1969 Corvair Monza',
  '1969 Dodge Charger',
  '1969 Dodge Super Bee',
  '1969 Ford Falcon',
  '1969 Harley Davidson Ultimate Chopper',
  '1970 Chevy Chevelle SS 454',
  '1970 Dodge Coronet',
  '1970 Plymouth Hemi Cuda',
  '1971 Alpine Renault 1600s',
  '1972 Alfa Romeo GTA',
  '1974 Ducati 350 Mk3 Desmo',
  '1976 Ford Gran Torino',
  '1980s Black Hawk Helicopter',
  '1980’s GM Manhattan Express',
  '1982 Camaro Z28',
  '1982 Ducati 900 Monster',
  '1982 Ducati 996 R',
  '1982 Lamborghini Diablo',
  '1992 Ferrari 360 Spider red',
  '1992 Porsche Cayenne Turbo Silver',
  '1993 Mazda RX-7',
  '1995 Honda Civic',
  '1996 Moto Guzzi 1100i',
  '1996 Peterbilt 379 Stake Bed with Outrigger',
  '1997 BMW R 1100 S',
  '1998 Chrysler Plymouth Prowler',
  '1999 Indy 500 Monte Carlo SS',
  '1999 Yamaha Speed Boat',
  '2001 Ferrari Enzo',
  '2002 Suzuki XREO',
  '2002 Yamaha YZR M1',
  '2003 Harley-Davidson Eagle Drag Bike',
  'ATA: B757-300',
  'America West Airlines B757-200',
  'American Airlines: B767-300',
  'American Airlines: MD-11S',
  'Boeing X-32A JSF',
  'Collectable Wooden Train',
  'Corsair F4U ( Bird Cage)',
  'Diamond T620 Semi-Skirted Tanker',
  'F/A 18 Hornet 1/72',
  'HMS Bounty',
  'P-51-D Mustang',
  'Pont Yacht',
  'The Mayflower',
  'The Queen Mary',
  'The Schooner Bluenose',
  'The Titanic',
  'The USS Constitution Ship'],
 'Leslie Thompson (1166)': ['18th Century Vintage Horse Carriage',
  '1900s Vintage Bi-Plane',
  '1900s Vintage Tri-Plane',
  '1911 Ford Town Car',
  '1912 Ford Model T Delivery Wagon',
  '1913 Ford Model T Speedster',
  '1917 Grand Touring Sedan',
  '1917 Maxwell Touring Car',
  '1928 British Royal Navy Airplane',
  '1928 Mercedes-Benz SSK',
  '1930 Buick Marquette Phaeton',
  '1932 Alfa Romeo 8C2300 Spider Sport',
  '1932 Model A Ford J-Coupe',
  '1934 Ford V8 Coupe',
  '1936 Chrysler Airflow',
  '1936 Harley Davidson El Knucklehead',
  '1936 Mercedes Benz 500k Roadster',
  '1936 Mercedes-Benz 500K Special Roadster',
  '1937 Horch 930V Limousine',
  '1937 Lincoln Berline',
  '1938 Cadillac V-16 Presidential Limousine',
  '1939 Cadillac Limousine',
  '1939 Chevrolet Deluxe Coupe',
  '1940 Ford Delivery Sedan',
  '1940 Ford Pickup Truck',
  '1941 Chevrolet Special Deluxe Cabriolet',
  '1948 Porsche 356-A Roadster',
  '1948 Porsche Type 356 Roadster',
  '1949 Jaguar XK 120',
  '1952 Alpine Renault 1300',
  '1952 Citroen-15CV',
  '1956 Porsche 356A Coupe',
  '1957 Ford Thunderbird',
  '1960 BSA Gold Star DBD34',
  '1965 Aston Martin DB5',
  '1966 Shelby Cobra 427 S/C',
  '1968 Dodge Charger',
  '1969 Chevrolet Camaro Z28',
  '1969 Dodge Charger',
  '1969 Harley Davidson Ultimate Chopper',
  '1970 Chevy Chevelle SS 454',
  '1972 Alfa Romeo GTA',
  '1974 Ducati 350 Mk3 Desmo',
  '1980s Black Hawk Helicopter',
  '1982 Ducati 900 Monster',
  '1982 Ducati 996 R',
  '1982 Lamborghini Diablo',
  '1992 Ferrari 360 Spider red',
  '1993 Mazda RX-7',
  '1995 Honda Civic',
  '1996 Moto Guzzi 1100i',
  '1997 BMW F650 ST',
  '1997 BMW R 1100 S',
  '1999 Indy 500 Monte Carlo SS',
  '1999 Yamaha Speed Boat',
  '2002 Chevy Corvette',
  '2002 Suzuki XREO',
  '2002 Yamaha YZR M1',
  '2003 Harley-Davidson Eagle Drag Bike',
  'ATA: B757-300',
  'America West Airlines B757-200',
  'American Airlines: B767-300',
  'American Airlines: MD-11S',
  'Boeing X-32A JSF',
  'Corsair F4U ( Bird Cage)',
  'F/A 18 Hornet 1/72',
  'HMS Bounty',
  'P-51-D Mustang',
  'Pont Yacht',
  'The Queen Mary',
  'The Schooner Bluenose',
  'The Titanic',
  'The USS Constitution Ship'],
 'Leslie Jennings (1165)': ['18th Century Vintage Horse Carriage',
  '18th century schooner',
  '1900s Vintage Bi-Plane',
  '1900s Vintage Tri-Plane',
  '1903 Ford Model A',
  '1904 Buick Runabout',
  '1911 Ford Town Car',
  '1912 Ford Model T Delivery Wagon',
  '1913 Ford Model T Speedster',
  '1917 Grand Touring Sedan',
  '1917 Maxwell Touring Car',
  '1926 Ford Fire Engine',
  '1928 British Royal Navy Airplane',
  '1928 Ford Phaeton Deluxe',
  '1928 Mercedes-Benz SSK',
  '1930 Buick Marquette Phaeton',
  '1932 Alfa Romeo 8C2300 Spider Sport',
  '1932 Model A Ford J-Coupe',
  '1934 Ford V8 Coupe',
  '1936 Chrysler Airflow',
  '1936 Harley Davidson El Knucklehead',
  '1936 Mercedes Benz 500k Roadster',
  '1936 Mercedes-Benz 500K Special Roadster',
  '1937 Horch 930V Limousine',
  '1937 Lincoln Berline',
  '1938 Cadillac V-16 Presidential Limousine',
  '1939 Cadillac Limousine',
  '1939 Chevrolet Deluxe Coupe',
  '1940 Ford Delivery Sedan',
  '1940 Ford Pickup Truck',
  '1940s Ford truck',
  '1941 Chevrolet Special Deluxe Cabriolet',
  '1948 Porsche 356-A Roadster',
  '1949 Jaguar XK 120',
  "1950's Chicago Surface Lines Streetcar",
  '1952 Alpine Renault 1300',
  '1952 Citroen-15CV',
  '1954 Greyhound Scenicruiser',
  '1956 Porsche 356A Coupe',
  '1957 Chevy Pickup',
  '1957 Corvette Convertible',
  '1957 Ford Thunderbird',
  '1957 Vespa GS150',
  '1958 Chevy Corvette Limited Edition',
  '1958 Setra Bus',
  '1960 BSA Gold Star DBD34',
  '1961 Chevrolet Impala',
  '1962 City of Detroit Streetcar',
  '1962 LanciaA Delta 16V',
  '1962 Volkswagen Microbus',
  '1964 Mercedes Tour Bus',
  '1965 Aston Martin DB5',
  '1966 Shelby Cobra 427 S/C',
  '1968 Dodge Charger',
  '1968 Ford Mustang',
  '1969 Chevrolet Camaro Z28',
  '1969 Corvair Monza',
  '1969 Dodge Charger',
  '1969 Dodge Super Bee',
  '1969 Ford Falcon',
  '1969 Harley Davidson Ultimate Chopper',
  '1970 Chevy Chevelle SS 454',
  '1970 Dodge Coronet',
  '1970 Plymouth Hemi Cuda',
  '1970 Triumph Spitfire',
  '1971 Alpine Renault 1600s',
  '1972 Alfa Romeo GTA',
  '1974 Ducati 350 Mk3 Desmo',
  '1976 Ford Gran Torino',
  '1980s Black Hawk Helicopter',
  '1980’s GM Manhattan Express',
  '1982 Camaro Z28',
  '1982 Ducati 900 Monster',
  '1982 Ducati 996 R',
  '1982 Lamborghini Diablo',
  '1992 Ferrari 360 Spider red',
  '1992 Porsche Cayenne Turbo Silver',
  '1993 Mazda RX-7',
  '1995 Honda Civic',
  '1996 Moto Guzzi 1100i',
  '1996 Peterbilt 379 Stake Bed with Outrigger',
  '1997 BMW F650 ST',
  '1997 BMW R 1100 S',
  '1998 Chrysler Plymouth Prowler',
  '1999 Indy 500 Monte Carlo SS',
  '1999 Yamaha Speed Boat',
  '2001 Ferrari Enzo',
  '2002 Chevy Corvette',
  '2002 Suzuki XREO',
  '2002 Yamaha YZR M1',
  '2003 Harley-Davidson Eagle Drag Bike',
  'ATA: B757-300',
  'America West Airlines B757-200',
  'American Airlines: B767-300',
  'American Airlines: MD-11S',
  'Boeing X-32A JSF',
  'Collectable Wooden Train',
  'Corsair F4U ( Bird Cage)',
  'Diamond T620 Semi-Skirted Tanker',
  'F/A 18 Hornet 1/72',
  'HMS Bounty',
  'P-51-D Mustang',
  'Pont Yacht',
  'The Mayflower',
  'The Queen Mary',
  'The Schooner Bluenose',
  'The Titanic'],
 'Gerard Hernandez (1370)': ['18th Century Vintage Horse Carriage',
  '18th century schooner',
  '1900s Vintage Bi-Plane',
  '1900s Vintage Tri-Plane',
  '1903 Ford Model A',
  '1904 Buick Runabout',
  '1911 Ford Town Car',
  '1912 Ford Model T Delivery Wagon',
  '1913 Ford Model T Speedster',
  '1917 Grand Touring Sedan',
  '1917 Maxwell Touring Car',
  '1926 Ford Fire Engine',
  '1928 British Royal Navy Airplane',
  '1928 Ford Phaeton Deluxe',
  '1928 Mercedes-Benz SSK',
  '1930 Buick Marquette Phaeton',
  '1932 Alfa Romeo 8C2300 Spider Sport',
  '1932 Model A Ford J-Coupe',
  '1934 Ford V8 Coupe',
  '1936 Chrysler Airflow',
  '1936 Harley Davidson El Knucklehead',
  '1936 Mercedes Benz 500k Roadster',
  '1936 Mercedes-Benz 500K Special Roadster',
  '1937 Horch 930V Limousine',
  '1937 Lincoln Berline',
  '1938 Cadillac V-16 Presidential Limousine',
  '1939 Cadillac Limousine',
  '1939 Chevrolet Deluxe Coupe',
  '1940 Ford Delivery Sedan',
  '1940 Ford Pickup Truck',
  '1940s Ford truck',
  '1941 Chevrolet Special Deluxe Cabriolet',
  '1948 Porsche 356-A Roadster',
  '1948 Porsche Type 356 Roadster',
  '1949 Jaguar XK 120',
  "1950's Chicago Surface Lines Streetcar",
  '1952 Alpine Renault 1300',
  '1952 Citroen-15CV',
  '1954 Greyhound Scenicruiser',
  '1956 Porsche 356A Coupe',
  '1957 Chevy Pickup',
  '1957 Corvette Convertible',
  '1957 Ford Thunderbird',
  '1957 Vespa GS150',
  '1958 Chevy Corvette Limited Edition',
  '1958 Setra Bus',
  '1960 BSA Gold Star DBD34',
  '1961 Chevrolet Impala',
  '1962 City of Detroit Streetcar',
  '1962 LanciaA Delta 16V',
  '1962 Volkswagen Microbus',
  '1964 Mercedes Tour Bus',
  '1965 Aston Martin DB5',
  '1966 Shelby Cobra 427 S/C',
  '1968 Dodge Charger',
  '1968 Ford Mustang',
  '1969 Chevrolet Camaro Z28',
  '1969 Corvair Monza',
  '1969 Dodge Charger',
  '1969 Dodge Super Bee',
  '1969 Ford Falcon',
  '1969 Harley Davidson Ultimate Chopper',
  '1970 Chevy Chevelle SS 454',
  '1970 Dodge Coronet',
  '1970 Plymouth Hemi Cuda',
  '1970 Triumph Spitfire',
  '1971 Alpine Renault 1600s',
  '1972 Alfa Romeo GTA',
  '1974 Ducati 350 Mk3 Desmo',
  '1976 Ford Gran Torino',
  '1980s Black Hawk Helicopter',
  '1980’s GM Manhattan Express',
  '1982 Camaro Z28',
  '1982 Ducati 900 Monster',
  '1982 Ducati 996 R',
  '1982 Lamborghini Diablo',
  '1992 Ferrari 360 Spider red',
  '1992 Porsche Cayenne Turbo Silver',
  '1993 Mazda RX-7',
  '1995 Honda Civic',
  '1996 Moto Guzzi 1100i',
  '1996 Peterbilt 379 Stake Bed with Outrigger',
  '1997 BMW F650 ST',
  '1997 BMW R 1100 S',
  '1998 Chrysler Plymouth Prowler',
  '1999 Indy 500 Monte Carlo SS',
  '1999 Yamaha Speed Boat',
  '2001 Ferrari Enzo',
  '2002 Chevy Corvette',
  '2002 Suzuki XREO',
  '2002 Yamaha YZR M1',
  '2003 Harley-Davidson Eagle Drag Bike',
  'ATA: B757-300',
  'America West Airlines B757-200',
  'American Airlines: B767-300',
  'American Airlines: MD-11S',
  'Boeing X-32A JSF',
  'Collectable Wooden Train',
  'Corsair F4U ( Bird Cage)',
  'Diamond T620 Semi-Skirted Tanker',
  'F/A 18 Hornet 1/72',
  'HMS Bounty',
  'P-51-D Mustang',
  'Pont Yacht',
  'The Mayflower',
  'The Queen Mary',
  'The Schooner Bluenose',
  'The Titanic',
  'The USS Constitution Ship'],
 'Barry Jones (1504)': ['18th Century Vintage Horse Carriage',
  '18th century schooner',
  '1900s Vintage Bi-Plane',
  '1900s Vintage Tri-Plane',
  '1903 Ford Model A',
  '1904 Buick Runabout',
  '1912 Ford Model T Delivery Wagon',
  '1913 Ford Model T Speedster',
  '1917 Maxwell Touring Car',
  '1926 Ford Fire Engine',
  '1928 British Royal Navy Airplane',
  '1928 Ford Phaeton Deluxe',
  '1928 Mercedes-Benz SSK',
  '1930 Buick Marquette Phaeton',
  '1932 Model A Ford J-Coupe',
  '1934 Ford V8 Coupe',
  '1936 Chrysler Airflow',
  '1936 Harley Davidson El Knucklehead',
  '1936 Mercedes-Benz 500K Special Roadster',
  '1937 Horch 930V Limousine',
  '1937 Lincoln Berline',
  '1938 Cadillac V-16 Presidential Limousine',
  '1939 Cadillac Limousine',
  '1939 Chevrolet Deluxe Coupe',
  '1940 Ford Delivery Sedan',
  '1940 Ford Pickup Truck',
  '1940s Ford truck',
  '1941 Chevrolet Special Deluxe Cabriolet',
  '1948 Porsche 356-A Roadster',
  '1948 Porsche Type 356 Roadster',
  "1950's Chicago Surface Lines Streetcar",
  '1952 Alpine Renault 1300',
  '1954 Greyhound Scenicruiser',
  '1956 Porsche 356A Coupe',
  '1957 Corvette Convertible',
  '1957 Vespa GS150',
  '1958 Setra Bus',
  '1960 BSA Gold Star DBD34',
  '1961 Chevrolet Impala',
  '1962 City of Detroit Streetcar',
  '1962 LanciaA Delta 16V',
  '1962 Volkswagen Microbus',
  '1964 Mercedes Tour Bus',
  '1965 Aston Martin DB5',
  '1966 Shelby Cobra 427 S/C',
  '1968 Dodge Charger',
  '1968 Ford Mustang',
  '1969 Corvair Monza',
  '1969 Dodge Charger',
  '1969 Dodge Super Bee',
  '1969 Ford Falcon',
  '1969 Harley Davidson Ultimate Chopper',
  '1970 Chevy Chevelle SS 454',
  '1970 Dodge Coronet',
  '1970 Plymouth Hemi Cuda',
  '1970 Triumph Spitfire',
  '1971 Alpine Renault 1600s',
  '1972 Alfa Romeo GTA',
  '1974 Ducati 350 Mk3 Desmo',
  '1976 Ford Gran Torino',
  '1980s Black Hawk Helicopter',
  '1980’s GM Manhattan Express',
  '1982 Camaro Z28',
  '1982 Ducati 900 Monster',
  '1982 Ducati 996 R',
  '1982 Lamborghini Diablo',
  '1992 Ferrari 360 Spider red',
  '1992 Porsche Cayenne Turbo Silver',
  '1993 Mazda RX-7',
  '1995 Honda Civic',
  '1996 Moto Guzzi 1100i',
  '1996 Peterbilt 379 Stake Bed with Outrigger',
  '1997 BMW F650 ST',
  '1997 BMW R 1100 S',
  '1998 Chrysler Plymouth Prowler',
  '1999 Indy 500 Monte Carlo SS',
  '1999 Yamaha Speed Boat',
  '2001 Ferrari Enzo',
  '2002 Chevy Corvette',
  '2002 Suzuki XREO',
  '2002 Yamaha YZR M1',
  '2003 Harley-Davidson Eagle Drag Bike',
  'ATA: B757-300',
  'America West Airlines B757-200',
  'American Airlines: B767-300',
  'American Airlines: MD-11S',
  'Boeing X-32A JSF',
  'Collectable Wooden Train',
  'Corsair F4U ( Bird Cage)',
  'Diamond T620 Semi-Skirted Tanker',
  'F/A 18 Hornet 1/72',
  'HMS Bounty',
  'P-51-D Mustang',
  'Pont Yacht',
  'The Queen Mary',
  'The Schooner Bluenose',
  'The Titanic',
  'The USS Constitution Ship'],
 'Andy Fixter (1611)': ['18th Century Vintage Horse Carriage',
  '1900s Vintage Bi-Plane',
  '1900s Vintage Tri-Plane',
  '1911 Ford Town Car',
  '1913 Ford Model T Speedster',
  '1917 Grand Touring Sedan',
  '1917 Maxwell Touring Car',
  '1926 Ford Fire Engine',
  '1928 British Royal Navy Airplane',
  '1928 Ford Phaeton Deluxe',
  '1928 Mercedes-Benz SSK',
  '1930 Buick Marquette Phaeton',
  '1932 Alfa Romeo 8C2300 Spider Sport',
  '1932 Model A Ford J-Coupe',
  '1934 Ford V8 Coupe',
  '1936 Chrysler Airflow',
  '1936 Harley Davidson El Knucklehead',
  '1936 Mercedes Benz 500k Roadster',
  '1936 Mercedes-Benz 500K Special Roadster',
  '1937 Horch 930V Limousine',
  '1937 Lincoln Berline',
  '1938 Cadillac V-16 Presidential Limousine',
  '1939 Cadillac Limousine',
  '1939 Chevrolet Deluxe Coupe',
  '1940 Ford Pickup Truck',
  '1940s Ford truck',
  '1941 Chevrolet Special Deluxe Cabriolet',
  '1948 Porsche 356-A Roadster',
  '1948 Porsche Type 356 Roadster',
  '1949 Jaguar XK 120',
  "1950's Chicago Surface Lines Streetcar",
  '1952 Alpine Renault 1300',
  '1952 Citroen-15CV',
  '1956 Porsche 356A Coupe',
  '1957 Corvette Convertible',
  '1957 Ford Thunderbird',
  '1957 Vespa GS150',
  '1958 Setra Bus',
  '1960 BSA Gold Star DBD34',
  '1961 Chevrolet Impala',
  '1962 LanciaA Delta 16V',
  '1964 Mercedes Tour Bus',
  '1965 Aston Martin DB5',
  '1966 Shelby Cobra 427 S/C',
  '1968 Ford Mustang',
  '1969 Chevrolet Camaro Z28',
  '1969 Dodge Super Bee',
  '1969 Harley Davidson Ultimate Chopper',
  '1970 Chevy Chevelle SS 454',
  '1970 Dodge Coronet',
  '1970 Plymouth Hemi Cuda',
  '1970 Triumph Spitfire',
  '1971 Alpine Renault 1600s',
  '1974 Ducati 350 Mk3 Desmo',
  '1976 Ford Gran Torino',
  '1980’s GM Manhattan Express',
  '1982 Camaro Z28',
  '1982 Ducati 900 Monster',
  '1982 Ducati 996 R',
  '1982 Lamborghini Diablo',
  '1992 Ferrari 360 Spider red',
  '1992 Porsche Cayenne Turbo Silver',
  '1993 Mazda RX-7',
  '1995 Honda Civic',
  '1996 Moto Guzzi 1100i',
  '1996 Peterbilt 379 Stake Bed with Outrigger',
  '1997 BMW F650 ST',
  '1997 BMW R 1100 S',
  '1999 Indy 500 Monte Carlo SS',
  '2002 Chevy Corvette',
  '2002 Suzuki XREO',
  '2002 Yamaha YZR M1',
  '2003 Harley-Davidson Eagle Drag Bike',
  'ATA: B757-300',
  'America West Airlines B757-200',
  'American Airlines: B767-300',
  'American Airlines: MD-11S',
  'Boeing X-32A JSF',
  'Corsair F4U ( Bird Cage)',
  'F/A 18 Hornet 1/72',
  'HMS Bounty',
  'P-51-D Mustang'],
 'Foon Yue Tseng (1286)': ['18th Century Vintage Horse Carriage',
  '18th century schooner',
  '1903 Ford Model A',
  '1904 Buick Runabout',
  '1911 Ford Town Car',
  '1912 Ford Model T Delivery Wagon',
  '1913 Ford Model T Speedster',
  '1917 Grand Touring Sedan',
  '1917 Maxwell Touring Car',

## Level Up: Display the Number of Products each Employee Has sold

In [10]:
# Count number of unique products sold by each employee
employee_product_counts = {}
for employee in employees:
    employee_product_counts[employee] = len(employeeProducts[employee])

for i in list(range(0, len(employee_product_counts.keys()) - 1)):
    print('Products sold by ' + list(employee_product_counts.keys())[i] + ': ' + str(list(employee_product_counts.values())[i]))

Products sold by George Vanauf (1323): 96
Products sold by Loui Bondur (1337): 101
Products sold by Leslie Thompson (1166): 73
Products sold by Leslie Jennings (1165): 107
Products sold by Gerard Hernandez (1370): 109
Products sold by Barry Jones (1504): 98
Products sold by Andy Fixter (1611): 82
Products sold by Foon Yue Tseng (1286): 74
Products sold by Steve Patterson (1216): 95
Products sold by Larry Bott (1501): 97
Products sold by Pamela Castillo (1401): 100
Products sold by Peter Marsh (1612): 97
Products sold by Martin Gerard (1702): 78
Products sold by Mami Nishi (1621): 81
Products sold by Julie Firrelli (1188): 80

## Summary

Congrats! You now know how to use Join statements, along with leveraging your foreign keys knowledge!